@import "ui-variables";

@ours-line-color: #33280F;
@ours-current-color: fade(@ours-line-color, 60%);
@theirs-line-color: #33280F;
@theirs-current-color: fade(@theirs-line-color, 60%);
@base-line-color: @app-background-color;
@base-current-color: lighten(@base-line-color, 10%);
@dirty-line-color: fade(@ui-site-color-5, 40%);
@dirty-current-color: fadeout(@dirty-line-color, 10%);
@resolved-line-color: @background-color-highlight;
